---
import { Image } from "astro:assets";
import Image1 from "../assets/image-1.png";
import Image2 from "../assets/image-2.png";
import Image3 from "../assets/image-3.png";

const items = [
  {
    image: Image1,
    question: "Quando?",
    answer: "08 JUN 2024, 18h00",
  },
  {
    image: Image2,
    question: "Onde?",
    answer: "Av. de Montevideu 818, 4150-517 Porto",
  },
  {
    image: Image3,
    question: "Quem?",
    answer: "Confirma a tua presença até 1 de abril de 2024",
  },
];

interface Props {
  class: string;
}
const { className } = Astro.props;
---

<div class={`flex items-center justify-between 2xl:gap-0 gap-10 ${className}`}>
  {
    items.map((item) => (
      <div class="flex flex-col items-center max-w-[260px] 2xl:max-w-[220px] sm:max-w-[160px]">
        <Image
          src={item.image}
          alt={`${item.question} ${item.answer}`}
          class="mr-[-20%]"
        />
        <div class="bg-line w-[1px] h-12 mt-4 mb-2" />
        <p class="alternate uppercase mb-2">{item.question}</p>
        <p class="font-semibold text-center">{item.answer}</p>
      </div>
    ))
  }
</div>
